#
# The init dameon will first parse the init.rc and then this rc file. The commands
# in the same section will be combined together. Then the commands are executed one
# section by another in the following order: early-init, init, early-boot, boot.
#

#
# init.rc doesn't define this section. If you want to make sure that your "on init" commands
# are executed before those on init commands of init.rc, put the commands here.
#
#
# If you need modify an environmental variable which is already defined in init.rc, 
# you should edit the init.rc. 
# The export command here doesn't support the usage of: export PATH $PATH:\system\bin
#
on init

setprop ro.telephony.default_network 6

# init.rc doesn't define this section. If you want to make sure that your "on boot" commands
# are executed before those on boot commands of init.rc, put the commands here.
#

on boot

service ril-daemon /system/bin/rild -l /system/lib/libqsc-evdo-ril.so -- -d /dev/ttyS0
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc

